/* Styling by ID */
#drum-display {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 10px;
  padding-top: 10%;
  justify-content: center;
}

#display {
  display: block;
  width: 80%;
  padding: 0 10% 0 10%;
  margin: 0, auto;
  text-align: center;
}

.drum-pad {
  /* height: 100px;
    width: 100px; */
  background: #cc95c0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #7aa1d2,
    #dbd4b4,
    #cc95c0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #7aa1d2,
    #dbd4b4,
    #cc95c0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border: 2px solid #000333;
  text-align: center;

}

.drum-pad p {
    text-shadow: 2px 1px 1px #cc95c0;

}

.App-header {
  width: 100%;
  background-color: blue;
  color: #ffffff;
  text-align: center;
  transform: translateY(-21px);
}
